doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        h2 User by id #{users.id}
            ul 
                li(style="list-style:none;font-size:16px")
                    p email: #{users.email}
                    p username: #{users.id}
                    p password: #{users.username}
